<!DOCTYPE html>
<html>
<head>
	<title>Camp System Entry Page</title>
	<style>
		body {
			background-color: rgb(182, 242, 182);
			text-align: center;
		}
		img {
			width: 300px;
			border-radius: 50%;
		}
		button {
			background-color: lightpink;
			color: white;
			border: none;
			padding: 10px 20px;
			font-size: 16px;
			cursor: pointer;
		}
		button:hover {
			background-color: rgb(220, 36, 220);
		}
	</style>
</head>
<body>
	<button type="submit" style="float: left;"><a href="http://127.0.0.1:5000/goodbye/">Exit</a></button>

	<img src="https://img.freepik.com/free-photo/couple-tourists-enjoying-camping-by-lake_335224-1342.jpg?w=2000" alt="Camp Image">
	<h1>Welcome to the Camp System</h1>
	<p>Please select:</p>
	<button><a href="http://127.0.0.1:5000/employee/">Employee</a></button>
	<button><a href="http://127.0.0.1:5000/customer/">Customer</a></button>
	<button><a href="http://127.0.0.1:5000/rent/">Rent</a></button>
</body>
</html>
